@model mvckutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle","Kategori",FormMethod.Post))
{
    <div style="margin-bottom:15px;"></div>
    <div class="form-group">
        <b>@Html.LabelFor(k => k.ID)</b> 
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label><b>KATEGORİ ADI</b></label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

