
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        body {
            font-family: "Lato",sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 240px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 10px 14px 10px 10px;
                text-decoration: none;
                font-size: 20px;
                color: white;
                display: block;
            }

                .sidebar a:hover {
                    color: #0094ff;
                }

        .main {
            margin-left: 240px;
            padding: 0px 10px;
        }

        @@media screen and (max-height:450px;) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
    <title>baslik</title>
</head>
<body>
    <div class="sidebar">
        <a href="#"><i class="fa fa-fw fa-home"></i> &nbsp; Ana Sayfa</a>
        <a href="#"><i class="fa fa-fw fa-list"></i> &nbsp; Kategoriler</a>
        <a href="#"><i class="fa fa-fw fa-book"></i> &nbsp; Kitaplar</a>
        <a href="#"><i class="fa fa-fw fa-pencil"></i> &nbsp; Yazarlar</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> &nbsp; Üyeler</a>
        <a href="#"><i class="fa fa-fw fa-users"></i> &nbsp; Personeller</a>
        <a href="#"><i class="fa fa-fw fa-book"></i>&nbsp; Ödünç Kitap Ver</a>
        <a href="#"><i class="fa fa-fw fa-book"></i>&nbsp; Ödünç Kitap Al</a>
        <a href="#"><i class="fa fa-fw fa-usd"></i>&nbsp; Kasa</a>
        <a href="#"><i class="fa fa-fw fa-dashboard"></i>&nbsp;Hareketler</a>
        <a href="#"><i class="fa fa-fw fa-cog"></i>&nbsp;Ayarlar</a>
        <a href="#"><i class="fa fa-fw fa-phone"></i>&nbsp;Yardım</a>
        <a href="#"><i class="fa fa-fw fa-log-out"></i>&nbsp;Çıkış</a>



    </div>

    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
